.header {

	position: fixed;								//!НЕ ТРОГАТЬ
	width: 100%;										//!НЕ ТРОГАТЬ
	top: 0;													//!НЕ ТРОГАТЬ
	left: 0;												//!НЕ ТРОГАТЬ
	z-index: 50;										//!НЕ ТРОГАТЬ
	padding: 28px 0px;							//*добавляет меню отступы сверху и снизу

	@media (max-width:$md2+px){
		padding: 20px 0px;						//*добавляет меню отступы сверху и снизу на 992,98
	}

	//!НЕ ТОРОГАТЬ (ПОДЛОЖКА)
	&::before{
		content: '';									//!НЕ ТРОГАТЬ
		position: absolute;						//!НЕ ТРОГАТЬ
		top: 0;												//!НЕ ТРОГАТЬ
		left: 0;											//!НЕ ТРОГАТЬ
		width: 100%;									//!НЕ ТРОГАТЬ
		height: 100%;									//!НЕ ТРОГАТЬ
		z-index: 2;										//!НЕ ТРОГАТЬ
		background-color: #000;			//*цвет подложки
	}
	// .header__menu

	&__menu {
		position: relative;						//!НЕ ТРОГАТЬ
	}
}
.container {
	&.r {
		position: relative;						//!НЕ ТРОГАТЬ
	}
}
.menu {
	@include flexbox();
	justify-content: left;					//!ХЗ

	@media (max-width:$md2+px){
		justify-content: space-between;
		align-items: center;		
	}

	&__logo {
		@include flexbox();
		justify-content: space-between;
		flex: 0 0 300px;
		z-index: 2;									//!НЕ ТРОГАТЬ
		img{
			display: block;
			width: 79px;
			height: 79px;
		}
		span{
			@include flexbox();
			justify-content:center;
			align-items: center;
			@include Text-Style;
		}
	}

	// .menu__icon

	&__icon {
	}

	// .menu__body - оболочка для пунктов меню
	&__body {
		@include flexbox();							//!НЕ ТРОГАТЬ (убрать если нужно одно меню над другим)
		width: 100%;										//!НЕ ТРОГАТЬ
		justify-content: space-between; //*определяет как два подменю размещаются в блоке
		z-index: 2;											//!НЕ ТРОГАТЬ

		//НА 992,98 становится выпадающим меню
		@media (max-width:$md2+px){
			position: fixed;								//!НЕ ТРОГАТЬ
			left: 0;												//!НЕ ТРОГАТЬ
			top: -100%;											//!НЕ ТРОГАТЬ(меню спрятано)
			width: 100%;										//!НЕ ТРОГАТЬ
			height: 100%;										//!НЕ ТРОГАТЬ
			background-color: #fb973b;	//*цвет фона меню
			display: block;									//!НЕ ТРОГАТЬ
			z-index: 1;											//!НЕ ТРОГАТЬ
			margin-top: 106px;								//*отступ сверху (должен быть таким же как высота .header)
			@include anim(0.3s,0s);					//*микроанимация

			//!НЕ ТРОГАТЬ (При нажатии на бургер)
			&.active{
				top: 0;												//!НЕ ТРОГАТЬ
			}
		}	
	}

	// .menu__list	(Основное меню)
	&__list {
		@include flexbox(); 							//!НЕ ТРОГАТЬ
		flex: 0 1 auto;									//*Размер и поведение основного меню(увеличение/уменьшение/размер)
		justify-content: space-between;		//*Выравнивание дочерних элементов
		align-items: center;							//*Выравнивание по вертикали
		margin: 0px 0px 0px 0px;

		//!НЕ ТРОГАТЬ(АДАПТИВ)
		@media (max-width:$md2+px){
			display:block;
			margin: auto;
		}
	}

	// .menu__link

	&__link {
		@include Text-Style-2;

		&.active, &.y{
			//градиент для текста (текст должен быть в блочном элементе)
			color: #ffe600;	//для старых браузеров
			background: linear-gradient(to top, #ffe600, #ffd600);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	// .menu__contact (дополнительное меню)
	&__contact {
		@include flexbox();								//!НЕ ТРОГАТЬ
		flex: 1 0 176px;									//*Размер и поведение основного меню(увеличение/уменьшение/размер)
		justify-content: center;		//*Выравнивание дочерних элементов
		align-items: center;							//*Выравнивание по вертикали
		flex-direction: column;

		//!НЕ ТРОГАТЬ(АДАПТИВ)
		@media (max-width:$md2+px){
			display:block;
		}
	}
}

.menu__list, .menu__contact{
	@media (max-width:$md2+px){
		
		li{
			text-align: center;
			margin: 10px 0px;

			a{
				font-size: 25px;
			}
		}
	}
}


//====================================================================================================


	.header-menu__icon{
		display: none;
		position: relative;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		@include anim(1s,0s);

		@media (max-width:$md2+px){
			display: block;
			@include anim(1s,0s);
		}

		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}

		&.active{
			span{@include scale(0);
				background-color: #fb973b;

				&:first-child{
					@include rotate(-45deg);top: 8px;
				}
				&:last-child{
					@include rotate(45deg);bottom: 8px;
				}
			}
		}
	}
