//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch; //Свойство  CSS определяет, используют ли сенсорные устройства прокрутку на основе импульса для данного элемента.
	background-color: #c4c4c496;		//Цвет подложки попапа
	display: none;										//Удаляет попап из документа
	position: fixed!important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto; //Полосы прокрутки добавляются только при необходимости
	z-index: 100;

	&.active{

		.popup-content{
			@include scale(1);
		}
	}

	&.show{
		display: block;

		.popup-content{
			@include scale(1);
		}
	}
}
.popup-table{
	height: 100%;				//!высота на весь экран
	table-layout: fixed;//Определяет, как браузер должен вычислять ширину ячеек таблицы, основываясь на ее содержимом. Ширина колонок в этом случае определяется либо с помощью тега <col>, либо вычисляется на основе первой строки. Если данные о форматировании первой строки таблицы по каким-либо причинам получить невозможно, в этом случае таблица делится на колонки равной ширины. При использовании этого значения, содержимое, которое не помещается в ячейку указанной ширины, будет «обрезано» либо наложено поверх ячейки. Это зависит от используемого браузера, но в любом случае ширина ячейки меняться не будет. Для корректной работы этого значения обязательно должна быть задана ширина таблицы.

	>.cell{
		height: 100%;
		vertical-align: middle;
		padding: 30px 10px;
	}
}
.popup-content {
	@include scale(0);
	@include anim(0.3s, 0s);
	position: relative;
	@include adaptive-size(435, 299, max-width);
	margin: 0px auto;
	background-color: #fff;
	@include adaptive-size(19, 62, padding-top);
	@include adaptive-size(53, 24, padding-bottom);
}
.popup-close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: 18px;
	right: 22px;
	cursor: pointer;
	background: url('../img/close.svg') 0 0 no-repeat;
}

//====================================================================================================
//====================================================================================================

