//<МИКСИНЫ>==============================================================================================
@import 'mixins.scss';
//</МИКСИНЫ>=============================================================================================

//<ШРИФТЫ>===============================================================================================
@import 'font.scss';
//</ШРИФТЫ>==============================================================================================

//<ЦВЕТА>================================================================================================
@import 'color.scss';
//</ЦВЕТА>===============================================================================================
@import 'animation.scss';

//<ПЕРЕМЕННЫЕ>===========================================================================================
$minwidth:320px;	//минимальная ширина
$mw:1366;					//ширина ограничивающего контейнера
$pp: 24;					//отступ padding с одной стороны
$md1:$mw+$pp;			//брейкпоинт 1 (с учетом padding)
$md2:992.98;			//брейкпоинт 2
$md3:767.98;			//брейкпоинт 3
$md4:479.98;			//брейкпоинт 4
//</ПЕРЕМЕННЫЕ>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================
@import 'null.scss';
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>======================================================================================

//<ОБОЛОЧКА>=========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
}
//</ОБОЛОЧКА>========================================================================================================

//<ОСНОВНАЯ СЕТКА>===================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	padding: 0px $pp+px 0px $pp+px;
}
//</ОСНОВНАЯ СЕТКА>==================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================
@import "baguetteBox.scss";
@import "popover.min.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main {

	// .main__body

	&__body {
		//@at-root: 150px 0px 120px 0px; //расширение экрана 120 62
		@include adaptive-size(150, 120, padding-top);
		@include adaptive-size(120, 62, padding-bottom);
	}

	// .main__title

	&__title {
		@include adaptive-size(725, 261, max-width);
		margin: 0px auto 56px;
		@include Text-Style-3;
	}

	// .main__list

	&__list {
		@include flexbox();
		justify-content: center;
		@include adaptive-size(207, 51, margin-bottom);

		@media (max-width:$md3+px){
			display:block;
			@include adaptive-size($md3, 261, max-width);
			margin-left: auto;
			margin-right: auto;
		}

		li{
			margin: 0px 49px 0px 0px;

			@media (max-width:$md3+px){
			margin: 0px 0px 11px 0px;
			}
		
			&:last-child{
				margin-right: 0;

				@media (max-width:$md3+px){
					margin: 0px 0px 0px 0px;
					}
			}
		}
	}

	// .main__link

	&__link {
		@include Text-Style-2;

		&:hover{
			//градиент для текста (текст должен быть в блочном элементе)
			color: #ffe600;	//для старых браузеров
			background: linear-gradient(to top, #ffe600, #ffd600);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	// .main__btn

	&__btn {
	}

	// .main__btn-link
	&__btn-link {
		@include flexbox();
		justify-content:center;
		align-items: center;
		@include Text-Style-4;
		margin: 0px auto;
		width: 275px;
		height: 52px;
		border-radius: 30px;
		background-image: linear-gradient(to top, #ffe600, #ffd600);
		box-shadow: 0 5px #e1b100;
		@include anim(0.2s,0s);

		&:active{
			box-shadow: 0 0 #e1b100;
			@include tr(0px,5px,0px);
		}
	}
}
//===================================================================================================================
.page {
	background-image: linear-gradient(to top, #ffe600, #ffd600);

	// .page__body
	&__body {
		@include adaptive-size(151, 107, padding-top);
		@include adaptive-size(151, 107, padding-bottom);

		@media (max-width:$md2+px){
			padding-left: 14px;
			padding-right: 14px;
		}
	}
}

.body-page {
	@include flexbox();
	justify-content:center;
	align-items: center;

	@media (max-width:$md2+px){
		display: block;
	}

	// .body-page__title

	&__title {
		@include Text-Style-5;
		margin: 0 45px 0 0;
		flex: 0 0 278px;

		@media (max-width:$md2+px){
			margin: 0px 0px 16px 0px;
		}
	}

	// .body-page__text

	&__text {
		@include Text-Style-6;
		flex: 0 1 755px;
	}
}

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//</ОСНОВНОЙ БЛОК>===================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>============================================================