//<МИКСИНЫ>==============================================================================================
@import 'mixins.scss';
//</МИКСИНЫ>=============================================================================================

//<ШРИФТЫ>===============================================================================================
@import 'font.scss';
//</ШРИФТЫ>==============================================================================================

//<ЦВЕТА>================================================================================================
@import 'color.scss';
//</ЦВЕТА>===============================================================================================
@import 'animation.scss';

//<ПЕРЕМЕННЫЕ>===========================================================================================
$minwidth:320px;	//минимальная ширина
$mw:1366;					//ширина ограничивающего контейнера
$pp: 30;					//отступ padding с одной стороны
$md1:$mw+$pp;			//брейкпоинт 1 (с учетом padding)
$md2:992.98;			//брейкпоинт 2
$md3:767.98;			//брейкпоинт 3
$md4:479.98;			//брейкпоинт 4
//</ПЕРЕМЕННЫЕ>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================
@import 'null.scss';
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>======================================================================================

//<ОБОЛОЧКА>=========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
}
//</ОБОЛОЧКА>========================================================================================================

//<ОСНОВНАЯ СЕТКА>===================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	
}
//</ОСНОВНАЯ СЕТКА>==================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================
@import "baguetteBox.scss";
@import "popover.min.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//===================================================================================================================

//</ОСНОВНОЙ БЛОК>===================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>============================================================